<div class="password-recovery-container">
    <!-- Botón para volver al login -->
    <button type="button" class="back-btn" (click)="goBack()">
      <i class="bx bx-left-arrow-alt"></i>
    </button>
    
    <form (ngSubmit)="requestPasswordReset(f)" #f="ngForm" novalidate>
      <div class="form">
        <div class="title">
          <h3>Recuperar Contraseña</h3>
          <h6>Ingresa tu correo electrónico o nombre de usuario para recibir instrucciones</h6>
        </div>
    
        <div class="group">
          <label class="lbl">Correo o Usuario</label>
          <input 
            type="text" 
            name="usernameOrEmail" 
            [(ngModel)]="usernameOrEmail" 
            class="input" 
            placeholder="Introduce tu correo o nombre de usuario" 
            required>
        </div>
    
        <button type="submit" class="btn">
          Recuperar Contraseña
        </button>
      </div>
    </form>
  </div>
  